mixin filterStatus(currentStatus, options)
  button.btn.btn-outline-success(
    class=(!currentStatus ? "active" : "")
    btn-status=""
  ) Tất cả

  each opt in options
    button.btn.btn-outline-success.ms-2(
      class=(currentStatus === opt.value ? "active" : "")
      btn-status=opt.value
    )= opt.label
