mixin form-multi-action(path)
  form#form-search(action= path method="POST" form-change-multi) 
    .input-group.mb-3
      select(name="type" class="form-select" )
        option(disable selected value="") -- chọn hoạt động -- 
        option(value="In Stock") còn hàng 
        option(value="Low Stock") hết hàng 
        option(value="delete") xóa sản phẩm
        option(value="Change position") thay đổi vị trí
      input(type="text" name="ids" class="form-control d-none")
      button(type="submit" class="btn btn-primary") áp dụng