mixin form-multi-action(options,path)
  form#form-search(action= path method="POST" form-change-multi) 
    .input-group.mb-3
      select(name="type" class="form-select" )
        option(disable selected value="") -- chọn hoạt động -- 
        each item in options 
           option(value=item.value) #{item.name}
      input(type="text" name="ids" class="form-control d-none")
      button(type="submit" class="btn btn-primary") áp dụng

