mixin search(keyword)
  form#form-search(action="") 
    .input-group.mb-3 
      input(type="text" class="form-control" name="keyword" placeholder="search" value = keyword)
      button(type="submit" class="btn btn-success") tìm kiếm